@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
body {
  font-family: Amatic SC, Tahoma, sans-serif;
  width: 100%;
}

#top-bar .lists {
  display: flex;
  justify-content: flex-end;
}
.menu-btn {
  font-size: 20px;
}
.search,
.cart {
  margin-left: 15px;
  font-size: 20px;
}
.lists > li {
  font-size: 25px;
  list-style: none;
  margin: 0px 4px;
}
a {
  text-decoration: none;
  color: black;
}
.logo-line {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 25px;
}
.logo-box {
  text-align: center;
  font-size: 42px;
}
.searchandcart {
  display: flex;
  justify-content: space-around;
}
.top-bar .menu {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 185px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu:hover .menu-content {
  display: block;
}
.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 26px;
}
.menu-content a:hover {
  background-color: #f8c7f9;
}
.banner {
  width: 100%;
  height: 420px;
}
.banner > img {
  width: 100%;
  height: 100%;
}
.new-arrival {
  font-size: 25px;
  text-align: center;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.product {
  margin: 1%;
  width: 48%;
  /* padding: 5px;
  margin-bottom: 2%;
  display: inline-table; */
}

.product img {
  max-width: 100%;
  max-height: 100%;
}
.product-info {
  font-size: 23px;
  text-align: center;
}
a.top-btn {
}
a.top-btn > i {
  position: fixed;
  bottom: 28px;
  right: 20px;
  font-size: 20px;
  color: gray;
  border-top: 3px solid gray;
}

footer {
  text-align: center;
  font-size: 30px;
}
@media screen and (min-width: 1118px) {
  .product {
    width: 23%;
  }
  a.top-btn > i {
    position: fixed;
    bottom: 28px;
    right: 40px;
    font-size: 20px;
    color: gray;
    border-top: 3px solid gray;
  }
}
