body {
  width: 100%;
  padding: 5px 5px;
}
.top-bar .lists {
  display: flex;
  justify-content: flex-end;
}
.lists > li {
  list-style: none;
  margin: 0px 4px;
}
a {
  text-decoration: none;
  color: black;
}
.logo-line {
  display: flex;
  justify-content: space-between;
}
.logo-box {
  /* background-color: #f8c7f9; */
  border-radius: 30%;
  width: 13vw;
  height: 21vh;
  text-align: center;
  font-size: 25px;
}
.searchandcart {
  display: flex;
  justify-content: space-around;
}
.top-bar .menu {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu:hover .menu-content {
  display: block;
}
.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.menu-content a:hover {
  background-color: #f8c7f9;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
}
.item-image img {
  width: 50px;
  height: 50px;
}
.item-content {
  background-color: #f8c7f9;
}
